*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

:root{
    --bg-primary: #FFF4E7;
    --bg-btn: #FF900E;
    --title-color: #131313;
    --text-color: #727272;
}