*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

:root{
    --bg-primary: #FFF4E7;
    --bg-btn: #FF900E;
    --title-color: #131313;
    --text-color: #727272;
}

/* Shared styles  */
.container{
    width: 71%;
    margin: 0 auto;
}

.title-details{
    margin: 30px 0;
    line-height: 26px;
    color: var(--text-color);
}

.btn-primary{
    padding: 14px 20px;
    background-color: var(--bg-btn);
    outline: none;
    border: 1px solid var(--bg-btn);
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-primary:hover{
    color: var(--bg-btn);
    background-color: transparent;
}

/* header section styles  */
#header{
    background-color: var(--bg-primary);
    padding: 50px 0;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .logo{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--title-color);
    cursor: pointer;
}

#navbar .nav-links{
    display: flex;
    gap: 50px;
}

#navbar .nav-links a{
    font-size: 1.1rem;
    color: #424242;
}

#banner{
    padding: 30px 0;
}

#banner .section-title{
    max-width: 862px;
    margin: 50px auto;
    text-align: center;
}

#banner .section-title .title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--title-color);
}

#banner .banner-img img{
    width: 100%;
}

/* Team section styles  */
#team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 85px;
    margin-bottom: 130px;
}

.team-img-group{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.team-img-group img{
    width: 100%;
}

#team .section-title{
    flex-basis: 50%;
}

/* features section styles  */
#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
    margin-bottom: 130px;
}

.features-content{
    flex-basis: 50%;
}

.features-content .section-title .title{
    padding-left: 20px;
    border-left: 3px solid var(--bg-btn);
}

.features-card{
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.features-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--title-color);
}

.features-card .title-details{
    margin: 10px 0;
    line-height: 15px;
}

.features-img-container{
    flex-basis: 50%;
}

.features-img-container .img img{
    width: 100%;
    margin-left: 90px;
}

.features-img-container button{
    padding: 20px 30px;
    background-color: var(--bg-btn);
    border: 1px solid var(--bg-btn);
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: -200px;
}

.features-img-container button .year{
    font-size: 4rem;
    font-weight: 700;
}

.features-img-container button .experience{
    font-size: 1.5rem;
    font-weight: 500;
}

/* Facts section styles  */
#facts{
    margin-bottom: 130px;
}

.facts-section-title .title-details,
#sponsor .title-details{
    max-width: 542px;
}

.facts-card-container{
    display: flex;
    justify-content: space-between;
}

.facts-card{
    width: 240px;
    padding: 50px 20px;
    border: 1px solid var(--bg-btn);
    border-radius: 8px;
    text-align: center;
}

.facts-card h3{
    font-size: 2.9rem;
    font-weight: 600;
    color: #424242;
    margin: 10px 0;
}

.facts-card h5{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Sponsors section styles  */
#sponsor {
    text-align: center;
    margin-bottom: 130px;
}

#sponsor .title-details{
    margin: 50px auto;

}

.sponsors-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsors-logo img{
    filter: grayscale(100%);
}

/* tablet screen responsiveness  */
@media screen and (max-width:992px){
    .container{
        width: 90%;
    }
    #navbar
    ,#features{
        flex-direction: column;
    }
    #navbar .logo{
        text-align: center;
    }
    #navbar .nav-links{
        gap: 20px;
    }
    #banner .section-title .title{
        font-size: 3rem;
    }
    #banner{
    padding: 10px 0;
    }
    
    #team{
        flex-direction: column-reverse;
    }

    .features-img-container .img img{
    margin-left: 30px;
    }

    .facts-card-container{
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px;
    }

    .sponsors-logo{
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
}

/* Mobile screen responsive design  */
@media screen and (max-width: 576px){
    #navbar .nav-links a{
        font-size: 0.75rem;
    }
    #banner .section-title .title{
        font-size: 3rem;
    }
    #banner{
    padding: 10px 0;
    }
    
    .features-img-container .img img{
        margin-left: 0;
    }
    .features-img-container button{
    padding: 8px 20px;
    border-radius: 8px;
    margin-top: 10px;
    }
    .features-img-container button .year{
    font-size: 2rem;
    }
}